<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuanwhy.fantasy.dao.FilmDao">
    <resultMap id="result" type="com.yuanwhy.fantasy.entity.Film">
        <result property="id" javaType="java.lang.Integer" column="film_id"/>
        <result property="title" javaType="java.lang.String" column="title"/>
        <result property="description" javaType="java.lang.String" column="description"/>
    </resultMap>

    <sql id="select_columns">
        SELECT film_id, title, description FROM film
    </sql>

    <update id="update" parameterType="com.yuanwhy.fantasy.entity.Film">
        UPDATE film SET title=#{title}, description=#{description} WHERE film_id = #{id}
    </update>

    <select id="findById" parameterType="java.lang.Integer" resultMap="result">
        <include refid="select_columns"></include>
        WHERE film_id = #{id}
    </select>

    <select id="findAll" resultMap="result">
        <include refid="select_columns"></include>
        LIMIT #{start},#{offset}
    </select>

    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM film
    </select>

    <insert id="insert" parameterType="com.yuanwhy.fantasy.entity.Film" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `film`
        (
          `title`,
          `description`,
          `language_id`
        )
        VALUES
        (
          #{title},
          #{description},
          #{languageId}
        )
    </insert>
</mapper>