<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuanwhy.fantasy.dao.UserDao">
    <resultMap id="result" type="com.yuanwhy.fantasy.entity.User">
        <result property="id" javaType="java.lang.Integer" column="id"/>
        <result property="name" javaType="java.lang.String" column="name"/>
        <result property="age" javaType="java.lang.Integer" column="age"/>
    </resultMap>

    <sql id="select_columns">
        SELECT id, name, age FROM user
    </sql>

    <update id="update" parameterType="com.yuanwhy.fantasy.entity.User">
        UPDATE user SET name=#{name}, age=#{age} WHERE id = #{id}
    </update>

    <select id="findById" parameterType="java.lang.Integer" resultMap="result">
        <include refid="select_columns"/>
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.yuanwhy.fantasy.entity.User" keyProperty="id">
        INSERT INTO `user`
        (
          `id`,
          `name`,
          `age`
        )
        VALUES
        (
          #{id},
          #{name},
          #{age}
        )
    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM user WHERE id = #{id}
    </delete>
</mapper>