<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuanwhy.fantasy.dao.FilmDao">
    <select id="getFilm" parameterType="int" resultType="com.yuanwhy.fantasy.domain.Film">
      SELECT film_id, title, description FROM film WHERE film_id = #{n}
    </select>

    <select id="getFilms" parameterType="int" resultType="com.yuanwhy.fantasy.domain.Film">
      SELECT film_id, title, description FROM film limit #{n}
    </select>
</mapper>